:root {
  --blue: #0802a3;
  --black: #292929;
  --gray: #fafafa;
  --white: #ffffff;
  --font-family: Inter, Arial, sans-serif;
  --gradient: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

h2 {
  text-align: center;
}

body {
  background-image: var(--gradient);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

form {
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.form_step {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
  padding: 20px;
  background-color: var(--white);
}

.active {
  display: flex;
}

input {
  background-color: var(--gray);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid transparent;
}

input:focus {
  outline: none;
  border: 2px solid var(--blue);
}

.button_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 20px;
}

.flex-end {
  justify-content: flex-end;
}

button {
  border: none;
  padding: 10px 15px;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.emoji {
  display: inline-block;
  transition: transform 0.3s;
}

button:hover .emoji {
  transform: translateX(5px);
}

.prev {
  background-color: var(--black);
}

.next {
  background-color: var(--blue);
}
